body { font-family:Verdana, Arial, sans-serif;
    background-color: #310085;
}
#wrapper { background-color: #310085;
    color: #ffffff; 
    font-size: 150%; 
    background: url(eight-ball.png); 
    padding:100px;
    background-size: 100px 100px;
    background-repeat: repeat;
} 
#content { background-color: #ffffff;
        color: #000000;
        padding: 10px 20px;
        overflow: auto; 
} 
#footer {font-size:70%;
      text-align: center;
      padding: 10px;
      background-color: #100f11;
}
h2 { color: #5f35a8; 
  font-family: arial, sans-serif;
}
#floatright { margin: 10px;
          float: right;
}

@media only screen and (max-width: 1024px) {
body { margin:0;}
#wrapper { width:auto;}
main {margin-left: 0;}
nav {float: none; width: auto;}
nav li {display: inline-block; padding: 0.5em; }
nav ul {text-align: center;}
nav a {border-style: none;}
h1, h2 {font-size: 120%;}
p {font-size: 90%;}
}

@media only screen and (max-width: 768px) {
h1, h2 {font-size: 100%;}
p {font-size:90%;}
figure {display: none;}
nav, nav ul, nav li {padding:0;}
nav li {display: block;}
nav a {display: block; padding: 0.5em 0;
border-bottom: 2px ridge #fdb813; }
}